<body>
  <mat-toolbar color="primary">
      
    <span><mat-icon>group</mat-icon> Employee Payroll System</span>
   
  </mat-toolbar>
  <button onclick="history.back()"><h3>Go Back</h3></button>
  <a class="btn btn-outline-success" mat-button routerLink="/addleaves">
    <h2 style="color: rgb(53, 52, 52);">Salary details</h2>
</a>

<div class="container pt-5">
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-6 shadow round pb-3">
          <h1 class="text-center pt-3 text-secondary">Add Salary</h1>
          <p>
            &nbsp;

          </p>
            <form [formGroup]="exform">
                <div class="form-group">
                    <label class="col-form-label"><h2>Employee_Name: </h2></label>
                    <input formControlName="name" type="text" class="form-control" id = "name" [(ngModel)] = "salary.emp_name">
                    <small *ngIf="name?.invalid && name?.touched" class="text-danger">Name is Required</small>
                  </div>
                  &nbsp;
                <div class="form-group">
                  <label class="col-form-label"><h2>Basic_Pay: </h2></label>
                  <input formControlName="basicpay" type="basicpay" class="form-control" id = "basic_pay" [(ngModel)] = "salary.basic_pay">
                  <small *ngIf="basicpay?.invalid && basicpay?.touched" class="text-danger">Basic_Pay is Required</small>
                </div>
                &nbsp;
                <div class="form-group">
                  <label class="col-form-label"><h2>Deductions: </h2></label>
                  <input formControlName="deductions" type="deductions" class="form-control" id = "deductions" [(ngModel)] = "salary.deductions">
                  <small *ngIf="deductions?.invalid && deductions?.touched" class="text-danger">Deductions is Required</small>
                </div>
                &nbsp;
                <div class="form-group">
                    <label class="col-form-label"><h2>Net_Pay: </h2></label>
                    <input formControlName="netpay" type="netpay" class="form-control" id = "net_pay" [(ngModel)] = "salary.net_pay">
                    <small *ngIf="netpay?.invalid && netpay?.touched" class="text-danger">Net_Pay is Required</small>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <label class="col-form-label"><h2>Month: </h2></label>
                    <input formControlName="month" type="text" class="form-control" id = "month" [(ngModel)] = "salary.month">
                    <small *ngIf="month?.invalid && month?.touched" class="text-danger">Month is Required</small>
                  </div>
                  &nbsp;
                <button (click)="clicksub()" [disabled]="exform.invalid" type="button" class="btn btn-primary"><h3>Add</h3></button>
              </form>
            </div>
    </div>
  </div>
</body>