<button onclick="history.back()"><h3>Go Back</h3></button>
<h2> View Schedule Details</h2>
<div>
    <div>
       <h2> <label> <b> Employee_Id: </b></label> {{schedule.id}}</h2>
    </div>
    <div>
     <h2>   <label> <b> Employee_Name: </b></label> {{schedule.emp_name}}</h2>
    </div>
    <div>
       <h2> <label> <b> Date: </b></label> {{schedule.workdate}}</h2>
    </div>
    <div>
       <h2><label> <b> Time: </b></label> {{schedule.worktime}}</h2>
    </div>
    
    <div>
       <h2> <label> <b> Shift: </b></label> {{schedule.workshift}}</h2>
    </div>

    <div>
      <h2>  <label> <b> Work_Assigned: </b></label> {{schedule.workstatus}}</h2>
    </div>
    
</div>
