<button onclick="history.back()"><h3>Go Back</h3></button>
<h1> View Salary Details</h1>
<div>
    <div>
      <h2>  <label> <b> Employee_Id: </b></label> {{salary.id}}</h2>
    </div>
    <div>
       <h2><label> <b> Employee_Name: </b></label> {{salary.emp_name}}</h2>
    </div>
    <div>
       <h2> <label> <b> Basic_Pay: </b></label> {{salary.basic_pay}}</h2>
    </div>
    <div>
       <h2> <label> <b> deductions: </b></label> {{salary.deductions}}</h2>
    </div>
    
    <div>
        <h2><label> <b> Net_Pay: </b></label> {{salary.net_pay}}</h2>
    </div>

    <div>
       <h2> <label> <b> Month: </b></label> {{salary.month}}</h2>
    </div>
    
</div>
