<button onclick="history.back()"><h3>Go Back</h3></button>
<h2> View Leave Details</h2>
<div>
    <div>
        &nbsp; <h2><label> <b> Id: </b></label> {{leave.id}}</h2>
    </div>
    <div>
        &nbsp;   <h2><label> <b> From_Date: </b></label> {{leave.from_date}}</h2>
    </div>
    <div>
        &nbsp; <h2> <label> <b> To_Date: </b></label> {{leave.to_date}}</h2>
    </div>
    <div>
        &nbsp;  <h2><label> <b> Leave_Type: </b></label> {{leave.leave_type}}</h2>
    </div>
    <div>
        &nbsp;  <h2> <label> <b> Reason: </b></label> {{leave.reason}}</h2>
    </div>
    <div>
        &nbsp; <h2><label> <b> Status: </b></label> {{leave.status}}</h2>
    </div>
</div>

