<body>
    <button onclick="history.back()"><h3>Go Back</h3></button>

<div class="col-md-6 offset-md-3">
    &nbsp;
    <h1> Update Attendance </h1>
    <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label><h2>Employee_Name </h2></label>
            <input type="text" class ="form-control" id = "emp_name"
                [(ngModel)] = "attendance.emp_name" name = "emp_name">
        </div>
        &nbsp;
        <div class="form-group">
            <label><h2> Email</h2></label>
            <input type="email" class ="form-control" id = "email"
                [(ngModel)] = "attendance.email" name = "email">
        </div>
        &nbsp;
        <div class="form-group">
            <label><h2>Date </h2></label>
            <input type="date" class ="form-control" id = "date"
                [(ngModel)] = "attendance.date" name = "date">
        </div>
        &nbsp;
        <div class="form-group">
            <label><h2>Status </h2></label>
            <input type="status" class ="form-control" id = "status"
                [(ngModel)] = "attendance.status" name = "status">
        </div>

        
    
        <button class = "btn btn-success" type ="submit"><h3>Submit</h3></button>
    
    </form>
    </div> 
</body>
