.spacer{

    flex: 1 1 auto;
}

table{
    background-image: url("https://wallpaperaccess.com/full/4321838.jpg");
    font-size: 25px;
    
  
  }
  td,th{
    color: black;
    
  }
  h1{
    font-size: 50px;
    color: blueviolet;
    text-align: center;
    
  }

